html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html, body, p, a, div {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#page-title {
  position:absolute;
  z-index: 100;
  margin-left: 100px;
  display:none;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0, .9);
  font-size: 16px;
}
#map_canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#map_switches {
  position: absolute;
  /*
  Need to make sure they're on top of the map,
  which has z-indexes of hundred(s) thousand(s). :)
  */
  z-index: 10000000000;
  top: 0;
  right: 0;
  background: #fff;
  /*box-shadow: -1px 1px 5px rgba(0,0,0, .5);*/
}
#map_switches a {
  padding: 10px 10px 10px 30px;
  display: block;
  color: #008000;
  text-decoration: none;
  background: url(../images/switch-on.png) 10px 50% no-repeat;
  border: 1px solid #ccc;
  border-top-width: 0;
  border-right-width: 0;
}
#map_switches a.off {
  color: #ccc;
  background-image: url(../images/switch-off.png);
}

#sidebar {
  width: 300px;
  padding: 20px;
  max-height: 100%;
  position: relative;
  z-index: 1000000;
  float: left;
  overflow: hidden;
  background: transparent;
}
#timefield {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  line-height: 35px;
  position: relative;
}
#timefield input {
  display: block;
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 20px;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
  /*box-shadow: 1px 1px 5px #000;*/
  margin-bottom: 20px;
  border-radius: 2px;
}
#timefield #now,
#timefield label {
  display: none;
}

/*#results {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}*/
.result {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid #ddd;
  /*box-shadow: 1px 1px 5px rgba(0,0,0, .2);*/
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  display: none;
}
.result.selected {
  background-color: #fff;
  /*box-shadow: 1px 1px 5px rgba(0,0,0, .5);*/
}
.result .number {
    display: none;
}
/*.result .number {
  margin: 0;
  font-size: 22px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #363;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}*/
.result h1 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 300;
}

.result ol {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: none;
}
/*.result.selected ol {
  display: block;
}*/
.result li {
  margin-bottom: 4px;
  color: #555;
}

.result .time {
  width: 50px;
  display: block;
  float: left;
}
.result .type {
  color: #000;
  font-weight: bold;
}

.result .places {
  padding-left: 50px;
  display: block;
}

/* Loader animation */
#loader{
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}
.circle{
	background-color:#CCC;
	float:left;
	height:15px;
	margin-left:8px;
	width:15px;
	-webkit-animation-name: bounce_circle;
	-webkit-border-radius:10px;
 	-webkit-animation-duration: 1.5s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	opacity:0.3;
}
#circle_1{
 	-webkit-animation-delay: .3s;
 }
#circle_2{
 	-webkit-animation-delay: .7s;
}
#circle_3{
 	-webkit-animation-delay: .9s;
}
@-webkit-keyframes bounce_circle{
	0%{opacity:0.3;}
	50%{opacity:1;background-color:#111}
	100%{opacity:0.3;}
}
